/*
 * Stylesheet for rubinese.com
 * Author: Andor
 * Site: http://about.ac
 * version: 20111001
 *
 */

@import 'html5boilerplate.css';

/* =======
   Global
 =======*/
body {
  background: #acacac;
  font:16px/1.6 Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
}

a:link, a:visited {
  color: #690;
}
a:hover, a:focus, a:active {
  color: #666;
}
p {
  margin: 12px 0;
}

.wrapper {
  margin: 0 auto;
  width: 800px;
}


/* =======
   Header
 =======*/
.site-header h1 {
  margin: 40px 0 10px;
  text-align: center;
}
.site-header h1 a.ir {
  background: #acacac url("/assets/images/rubinese.logo.png") no-repeat center;
  display: inline-block;
  width: 120px;
  height: 120px;
}
.site-header h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

/* =======
   Content
 =======*/
.content {

}

/* Panel */
.panel {
  background: #fff;
  margin: 40px 0;
  overflow: hidden;
}
.panel-header {
  background: url("../images/bg-panel-header.png") repeat-x left bottom;
  border-bottom: 1px solid #e2e2e2;
  padding: 20px;
  overflow: hidden;
}
.panel-header h1 {
  font-size: 20px;
  margin: 0;
}
.panel-header h1 span {
  color: #999;
  display: block;
}
.panel-content {
  padding: 20px;
}

/* Project */
.pj-meta {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.pj-meta li {
  display: block;
  float: left;
  margin-right: 15px;
}
.pj-cover {
  float: right;
  width: 220px;
}
.pj-detail {
  float: left;
  width: 520px;
}

.toc {
  list-style-type: none;
  padding: 0;
}


/* =======
   Content
 =======*/
.site-footer {
  font-size: 12px;
  text-align: center;
}
.site-footer p {
  margin: 6px 0;
}
